<!DOCTYPE html>
<html>
<head>
  <title>Timeclock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified JavaScript -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="">
    <%= render "layouts/navbar" %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
